@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Serif&family=Roboto&display=swap");

@import "./var";
@import "./reset";

.header {
  background-color: #e3d5b8;
  max-width: 100%;
  min-height: 688px;
}

.container {
  max-width: 1009px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.h1 {
  font-size: 90px;
  line-height: 109px;
}
.pink_roboto {
  color: $pink;
  font-family: "Roboto", sans-serif;
  margin-top: 26px;
}

.nav {
  display: block;
}
.header-nav {
  margin-top: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.header_block {
  display: flex;
  justify-content: flex-end;
}
.nav-link {
  color: $grey;
  font-size: $txt;
  font-weight: 400;
  cursor: pointer;
  padding: 13px 16px;
  display: inline-block;
  transition: color var(--transition-time);
  position: relative;
  text-transform: uppercase 0.3s ease;
}

.nav-link:hover {
  background-color: $pink;
  color: white;
  border-radius: 5px;
}

.travel {
  max-width: 535px;
  height: 220px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 109px;
}

.txt--pink {
  color: $pink;
}
.txt--black {
  color: $black;
}

.block_txt-p {
  max-width: 491px;
  height: 81px;
  font-size: $txt-p;
  line-height: 27px;
  font-family: "PT Serif", serif;
}
.txt-p {
  font-family: "PT Serif", serif;
  font-size: 20px;
  line-height: 27px;
  margin-top: 20px;
}

.align-items {
  align-items: center;
}

.services_svg_div {
  display: flex;
  justify-content: center;
}
.card__absolute {
  width: 405px;
  height: 520px;
  position: relative;
}

.card:first-child {
  width: 400px;
  height: 520px;
  background-color: $pink;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 153px;
  line-height: 1px;
}
.services_txt {
  text-align: center;
  margin-top: 45px;
  max-width: 176px;
  font-family: "PT Serif", serif;
  font-size: 20px;
  line-height: 27px;
}

.main {
  max-width: 100%;
  min-height: 537px;
}

.block_main {
  padding: 31px 0 88px;
}
.services {
  margin-bottom: 62px;
  display: flex;
  align-items: baseline;
}
.txt--main {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.services_logo {
  max-width: 170px;
  padding: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.text_box {
  width: 353px;
  height: 57px;
  margin: 13px;
  border-radius: 5px;
  border: none;
  padding-left: 19px;
  font-size: 20px;
}

.txt__cards {
  font-size: 22px;
  color: white;
  margin-top: 27px;
  font-family: "Montserrat", sans-serif;
}
.button__black {
  font-family: "Montserrat", sans-serif;
  background-color: #161616;
  color: white;
  font-size: 22px;
  margin-left: 24px;
}

.main_2 {
  max-width: 100%;
  min-height: 123px;
  background-color: $pink;
}

.block_main_2 {
  max-width: 629px;
}
.txt__main {
  font-size: 20px;
  color: white;
  font-family: "PT Serif", serif;
  line-height: 26px;
  margin: 29px 0px 40px;
}

.button_main_2 {
  width: 269px;
  height: 64px;
  border-radius: 5px;
  background-color: $beige;
  border: none;
  color: $black;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin: 15px;
}

.main_3 {
  max-width: 100%;
  min-height: 537px;
  background-color: $beige;
}
.h2 {
  font-size: $h2;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 47px;
  padding-top: 51px;
}

.main_3-cards {
  width: 318px;
  height: 389px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 15px;
}
.popular {
  width: 318px;

  position: relative;
}
.bravo_img {
  position: absolute;
  right: 0;
  top: 42px;
}
.bravo_block {
  height: 200px;
  width: 68px;
  position: relative;
}
.popular_triangle {
  border: 50px solid transparent;
  border-left: 50px solid $brown;
  border-top: 50px solid $brown;
  position: absolute;
  left: 0px;
}

.popular_txt {
  position: absolute;
  top: -25px;
}
.popular_p {
  background-color: transparent;
  transform: rotate(316deg);
  position: absolute;
  top: 0;
  left: -45px;
  font-size: 16px;
  font-family: "PT Serif", serif;
}

.h3 {
  font-size: $h3;
  font-size: 22px;
  margin: 30px 0 16px;
}

.block_main_3 {
  width: 162px;
  height: 135px;
}

.txt_main_3 {
  font-family: "PT Serif", serif;
  font-size: 20px;
  text-align: center;
  line-height: 27px;
}

.txt_main_33 {
  font-family: "PT Serif", serif;
  font-size: 20px;
  text-align: center;
  line-height: 27px;
  width: 175px;
  height: 135px;
}
h4 {
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 13px;
  color: $pink;
}
.button_main_3 {
  width: 205px;
  height: 49px;
  background-color: $beige;
  border: none;
  font-size: $h3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 31px;
}

.button_main_3:hover {
  background-color: $pink;
  color: white;
  border-radius: 5px;
}

.display-flex {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main_3-cards__block {
  width: 1009px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.wrap {
  flex-wrap: wrap;
}

.main_4 {
  max-width: 100%;
  min-height: 688px;
  background-color: $white;
}

.main-footer {
  max-width: 100%;
  min-height: 177px;

  background-color: $black;
}

.footer_txt {
  color: white;
  font-size: 20px;
  font-family: "PT Serif", serif;
  display: flex;
  align-items: center;
  margin-top: 75px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex {
  display: flex;
}

.flex__input {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 20px;
  font-family: "PT Serif", serif;
  padding: 14px 0 11px;
  display: flex;
  align-items: baseline;
}
.link_travel {
  font-size: 63px;
  color: $pink;
  margin-top: 50px;
  &__p {
    color: $pink;
  }
}

.gallery__item {
  max-width: 105px;
  width: 100%;
  height: 105px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
}

.gallery {
  max-width: 384px;
}

.gallery__a {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-decoration: underline;
  color: $pink;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.img {
  border-radius: 50%;
}

.txt_main_4 {
  max-width: 356px;
  height: 81px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
  font-family: "PT Serif", serif;
}

.link_main_4 {
  max-width: 296px;
  height: 24px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 62px;
  color: $pink;
}

.color_white {
  margin-bottom: 62px;
  background-color: $white;
  max-width: 410px;
  height: 142px;
  padding-top: 21px;
  padding-left: 26px;
  border-radius: 13px;
}

.h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin: 136px 0 51px;
  display: flex;
  justify-content: center;
}

.color_beige {
  background-color: $beige;
  max-width: 410px;
  height: 142px;
  padding-top: 21px;
  padding-left: 26px;
  border-radius: 13px;
}

// @import "./_media";

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
    padding: 0 15px;
  }
  // .bravo_img {
  //   right: 158px;
  //   top: 71px;
  // }
}

@media screen and (max-width: 1199px) {
  .flex-container__main {
    max-width: 475px;
  }
  .footer {
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    justify-content: center;
  }
  .header {
    height: 1200px;

    justify-content: center;
  }
  .card:first-child {
    top: 25px;
  }

  .link_travel {
    margin-left: 15px;
    margin-bottom: 50px;
  }
  .services_logo {
    width: 176px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main_3-cards__block {
    justify-content: center;
    margin-left: 30px;
  }
  .main_3-cards {
    margin-top: 21px;
    margin-left: 27px;
    margin-bottom: 15px;
  }
  .flex-container {
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 150%;
  }
  .card:first-child {
    top: 10px;
  }
  .services {
    justify-content: center;
  }
  .main_3-cards__block {
    justify-content: center;
  }

  .footer_txt {
    flex-direction: column;
  }
}

@media screen and (max-width: 575px) {
  .h1 {
    font-size: 53px;
    line-height: 65px;
  }
  .footer_txt {
    text-align: center;
  }
  .travel {
    height: 155px;
  }
  .card:first-child {
    top: 60px;
    width: 302px;
  }
  .card__absolute {
    height: 591px;
  }

  .text_box {
    width: 245px;
  }

  .main_3-cards {
    margin-top: 21px;
    margin-left: -37px;
    margin-bottom: 15px;
  }
  .txt_main_4 {
    max-width: 221px;
    height: 129px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
    font-family: "PT Serif", serif;
  }
  .color_beige {
    background-color: #e3d5b8;
    max-width: 410px;
    height: 206px;
    padding-top: 21px;
    padding-left: 26px;
    border-radius: 13px;
  }
  .h6 {
    font-size: 48px;
  }
}
